// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------


$font-stack: 'Roboto', sans-serif;

/// COLORS
$main: #6cbd3d;


$text-inverse: $main;

/// Gray
$light-gray: #fef4fe;
$dark-gray: #DED5C4;
$white: #FFF;

// LINKS
//
// Style anchor elements.
$link-color: $white;
$link-decoration: none;
$link-hover-color: darken($main, 5%);
$link-hover-decoration: none;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 2.2 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

